<% include partials/header.ejs %>
<script src="/js/dashboard.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">

            <!-- Brand/logo -->
            <a class="navbar-brand" href="#">
                <figure class="figure">
                    <img src="/hexerve-logo.png" alt="Hexerve">
                    <figcaption class="figure-caption">Screenshot Taker</figcaption>
                </figure>
            </a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target=".collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item white guest">
                        <a class="nav-link white" href="./login"><b>Login / Register</b></a>
                    </li>
                    <li class="nav-item white logged">
                        <a class="nav-link white" href="./resetpass"><b>Reset Password</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link highlight-nav" id="pro" href="./login?action=login_required"><b>Pro</b></a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>


    <div class="spacer"></div>
    <div id="loader" class="container row">
        <img class="hexerve" src="/hexerve.png" />
    </div>

    <div class="fixed-top body-container" id='body-container'>
        <!--searchbox-->
        <div class="input-group mb-3 input-group-lg container">
            <div class="input-group-prepend">
                <span class="input-group-text">URL</span>
            </div>
            <input type="text" class="form-control" name="url" id="url" placeholder="https://www.hexerve.com">
            <div class="input-group-append">
                <button class="btn btn-default" onclick="viewList()" type="button">
                    <i id="addList_icon" class="fa fa-search-plus"></i>
                </button>
            </div>
        </div>

        <!--checkbox grids-->
        <div class="container checkbox-container">
            <div class="row device-row">
                <div class="col-md-4 col-xs4">
                    <input type="checkbox" id="Laptop HD" onchange='handleChange("Laptop HD");' />
                    <a href="#" class="checkbox-tooltip" data-toggle="tooltip" data-placement="bottom" title="Laptop HD (1080 * 1920)">
                        Laptop HD
                    </a>
                </div>
                <div class="col-md-4 col-xs4">
                    <input type="checkbox" id="Laptop large" onchange='handleChange("Laptop large");' />
                    <a href="#" class="checkbox-tooltip" data-toggle="tooltip" data-placement="bottom" title="Laptop large (768 * 1366)">
                        Laptop large
                    </a>
                </div>
                <div class="col-md-4 col-xs4">
                    <input type="checkbox" id="Laptop wxga–wide" onchange='handleChange("Laptop wxga–wide");' />
                    <a href="#" class="checkbox-tooltip" data-toggle="tooltip" data-placement="bottom" title="Laptop wxga–wide (800 * 1280)">
                        Laptop wxga–wide
                    </a>
                </div>
            </div>

            <div class="row device-row">
                <div class="col-md-4 col-xs4">
                    <input type="checkbox" id="iPad Pro" onchange='handleChange("iPad Pro");' />
                    <a href="#" class="checkbox-tooltip" data-toggle="tooltip" data-placement="bottom" title="iPad Pro (1024 * 1366)">
                        iPad Pro
                    </a>
                </div>
                <div class="col-md-4 col-xs4">
                    <input type="checkbox" id="iPad Mini" onchange='handleChange("iPad Mini");' />
                    <a href="#" class="checkbox-tooltip" data-toggle="tooltip" data-placement="bottom" title="iPad Mini (768 * 1024)">
                        iPad Mini
                    </a>
                </div>
                <div class="col-md-4 col-xs4">
                    <input type="checkbox" id="iPhone X" onchange='handleChange("iPhone X");' />
                    <a href="#" class="checkbox-tooltip" data-toggle="tooltip" data-placement="bottom" title="iPhone X (912 * 375)">
                        iPhone X
                    </a>
                </div>
            </div>

            <div class="row device-row">
                <div class="col-md-4 col-xs4">
                    <input type="checkbox" id="iPhone 8 Plus" onchange='handleChange("iPhone 8 Plus");' />
                    <a href="#" class="checkbox-tooltip" data-toggle="tooltip" data-placement="bottom" title="iPhone (8/7/6/6S) Plus (736 * 414)">
                        iPhone (8/7/6/6S) Plus
                    </a>
                </div>
                <div class="col-md-4 col-xs4">
                    <input type="checkbox" id="iPhone 8" onchange='handleChange("iPhone 8");' />
                    <a href="#" class="checkbox-tooltip" data-toggle="tooltip" data-placement="bottom" title="iPhone 8/7/6/6S (667 * 375)">
                        iPhone 8/7/6/6S
                    </a>
                </div>
                <div class="col-md-4 col-xs4">
                    <input type="checkbox" id="iPhone 5" onchange='handleChange("iPhone 5");' />
                    <a href="#" class="checkbox-tooltip" data-toggle="tooltip" data-placement="bottom" title="iPhone 5 (558 * 320)">
                        iPhone 5
                    </a>
                </div>
            </div>

            <div class="row device-row">
                <div class="col-md-4 col-xs4">
                    <input type="checkbox" id="Nexus 6P" onchange='handleChange("Nexus 6P");' />
                    <a href="#" class="checkbox-tooltip" data-toggle="tooltip" data-placement="bottom" title="Nexus 6P (731 * 411)">
                        Nexus 6P
                    </a>
                </div>
                <div class="col-md-4 col-xs4">
                    <input type="checkbox" id="Samsung Galaxy Note 5" onchange='handleChange("Samsung Galaxy Note 5");' />
                    <a href="#" class="checkbox-tooltip" data-toggle="tooltip" data-placement="bottom" title="Samsung Galaxy Note 5 (853 * 480)">
                        Samsung Galaxy Note 5
                    </a>

                </div>
                <div class="col-md-4 col-xs4">
                    <input type="checkbox" id="Samsung Galaxy S9" onchange='handleChange("Samsung Galaxy S9");' />
                    <a href="#" class="checkbox-tooltip" data-toggle="tooltip" data-placement="bottom" title="Samsung Galaxy S9 (740 * 360)">
                        Samsung Galaxy S9
                    </a>
                </div>
            </div>

            <div class="row device-row">
                <div class="col-md-4 col-xs4">
                    <input type="checkbox" id="Samsung Galaxy S7" onchange='handleChange("Samsung Galaxy S7");' />
                    <a href="#" class="checkbox-tooltip" data-toggle="tooltip" data-placement="bottom" title="Samsung Galaxy S7 (640 * 360)">
                        Samsung Galaxy S7
                    </a>
                </div>
                <div class="col-md-4 col-xs4">
                    <input type="checkbox" id="Samsung Galaxy Note 9" onchange='handleChange("Samsung Galaxy Note 9");' />
                    <a href="#" class="checkbox-tooltip" data-toggle="tooltip" data-placement="bottom" title="Samsung Galaxy Note 9 (2960 * 1440)">
                        Samsung Galaxy Note 9
                        <span class="badge badge-new">New</span>
                    </a>
                </div>
                <div class="col-md-4 col-xs4">
                    <button type="button" class="linkButton" onclick="viewViewports()">Custom Sizes...</button>
                </div>
            </div>

            <div class='wrapper text-center'>
                <div class="btn-group btn-group-lg">
                    <button type="button" id="submit" class="btn wobble-vertical" onclick='submit();'>Download</button>
                </div>
            </div>
        </div>
    </div>

    <!-- List Modal -->
    <div class="modal fade" id="listModal">
        <div class="modal-dialog modal-dialog-centered full_width_model">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"> List of the Pages</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body"></div>

                <div class="list" id="list"></div>

                <form class="form-inline">
                    <div class="form-group inline_form input-group mb-3 container addWidth">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Folder name</span>
                        </div>
                        <input type="text" class="form-control" name="url" id="name_insert" placeholder="Hexerve">
                    </div>
                    <div class="form-group inline_form input-group mb-3 container half-width">
                        <div class="input-group-prepend">
                            <span class="input-group-text">URL </span>
                        </div>
                        <input type="text" class="form-control" name="url" id="url_insert" placeholder="https://www.hexerve.com" />
                    </div>
                    <div class="form-group inline_form input-group mb-3 container right_5">
                        <button type="button" class="btn btn-secondary add_button" onclick="addList()">Add</button>
                    </div>

                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="File Upload" id="txtFileUpload" accept=".csv" />
                        <label class="custom-file-label" for="customFile">Upload CSV</label>
                    </div>
                </form>

                <div id="url_add_err">

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="submitList()" data-dismiss="modal">Submit</button>
                </div>

            </div>
        </div>
    </div>

    <!-- List Modal -->
    <div class="modal fade" id="devicesListModal">
        <div class="modal-dialog modal-dialog-centered full_width_model">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"> List of the Viewports</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body"></div>

                <div class="list" id="viewportList"></div>

                <form class="form-inline">
                    <div class="form-group inline_form input-group mb-3 container eqiWidthInput">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name</span>
                        </div>
                        <input type="text" class="form-control" name="viewport_name" id="viewport_name" placeholder="name">
                    </div>
                    <div class="form-group inline_form input-group mb-3 container eqiWidthInput">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Height</span>
                        </div>
                        <input type="text" class="form-control" name="viewport_height" id="viewport_height" placeholder="640">
                    </div>
                    <div class="form-group inline_form input-group mb-3 container eqiWidthInput">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Width </span>
                        </div>
                        <input type="text" class="form-control" name="viewport_width" id="viewport_width" placeholder="320" />
                    </div>
                    <div class="form-group inline_form input-group mb-3 container right_5">
                        <button type="button" class="btn btn-secondary add_button" onclick="addViewports()">Add</button>
                    </div>
                </form>

                <div id="viewport_add_err">

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="submitList()" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="message-heading"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="message-body"></div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <% if(error) { %>
    <script>
        document.getElementById("message-heading").innerHTML = "Error";
                document.getElementById("message-body").innerHTML = "File has been expired. Regenerate it if required";
                $("#myModal").modal("show");
            </script>
    <% } %>

    <audio controls id="success_audio">
        <source src="/success.mp3" type="audio/mp3">
    </audio>
</body>

</html>