<% include partials/header.ejs %>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/hexerve.png" alt="logo" style="width:40px;">
                </a>
                <a class="nav-link" href="#">Dev Screenshots</a>
                
            </div>
        </nav>

        <div id="loader" class="container row">
            <img class="hexerve" src="/hexerve.png" />
        </div>
        
        <div class="fixed-top body-container">
            <!--searchbox-->
            <div class="input-group mb-3 input-group-lg container">
                <div class="input-group-prepend">
                    <span class="input-group-text">URL</span>
                </div>
                <input type="text" class="form-control" name="url" id="url" placeholder="https://www.hexerve.com">
            </div>

            <!--checkbox grids-->
            <div class="container checkbox-container">
                <div class="row">
                    <div class="col-md-4 col-xs4">
                        <input type="checkbox" name="small" id="small" onchange='handleChange("Laptop HD");' /> Laptop HD
                    </div>
                    <div class="col-md-4 col-xs4">
                        <input type="checkbox" name="medium" id="medium" onchange='handleChange("Laptop large");' /> Laptop large
                    </div>
                    <div class="col-md-4 col-xs4">
                        <input type="checkbox" name="large" id="large" onchange='handleChange("Laptop wxga–wide");' /> Laptop wxga–wide
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xs4">
                        <input type="checkbox" name="small" id="small" onchange='handleChange("iPad Pro");' /> iPad Pro
                    </div>
                    <div class="col-md-4 col-xs4">
                        <input type="checkbox" name="medium" id="medium" onchange='handleChange("iPad Mini");' /> iPad Mini
                    </div>
                    <div class="col-md-4 col-xs4">
                        <input type="checkbox" name="large" id="large" onchange='handleChange("iPhone X");' /> iPhone X
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xs4">
                        <input type="checkbox" name="small" id="small" onchange='handleChange("iPhone 8 Plus");' /> iPhone (8/7/6/6S) Plus
                    </div>
                    <div class="col-md-4 col-xs4">
                        <input type="checkbox" name="medium" id="medium" onchange='handleChange("iPhone 8");' /> iPhone 8/7/6/6S
                    </div>
                    <div class="col-md-4 col-xs4">
                        <input type="checkbox" name="large" id="large" onchange='handleChange("iPhone 5");' /> iPhone 5
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xs4">
                        <input type="checkbox" name="small" id="small" onchange='handleChange("Nexus 6P");' /> Nexus 6P
                    </div>
                    <div class="col-md-4 col-xs4">
                        <input type="checkbox" name="medium" id="medium" onchange='handleChange("Samsung Galaxy Note 5");' /> Samsung Galaxy Note 5
                    </div>
                    <div class="col-md-4 col-xs4">
                        <input type="checkbox" name="large" id="large" onchange='handleChange("Samsung Galaxy S9");' /> Samsung Galaxy S9
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xs4">
                        <input type="checkbox" name="small" id="small" onchange='handleChange("Samsung Galaxy S7");' /> Samsung Galaxy S7
                    </div>
                    <div class="col-md-4 col-xs4">
                    </div>
                    <div class="col-md-4 col-xs4">
                    </div>
                </div>

                <div class='wrapper text-center'>
                    <div class="btn-group btn-group-lg">
                        <button type="button" id="submit" class="btn btn-success" onclick='submit();'>Generate</button>
                        <button type="button" class="btn btn-info" id="download" name="download" disabled value="download">Download</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- The Modal -->
  <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" id="message-heading"></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body" id="message-body"></div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>
    </body>

    </html>