<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/main.js"></script>
</head>

<body>
    <input type="text" name="url" id="url" placeholder="Enter your website URL here" />
    <input type="checkbox" name="small" id="small" onchange='handleChange("small");' /> Small
    <input type="checkbox" name="medium" id="medium" onchange='handleChange("medium");' /> Medium
    <input type="checkbox" name="large" id="large" onchange='handleChange("large");' /> Large
    <br/>
    <input type="submit" onclick='submit();' />
    <input type="button" id="download" name="download" disabled value="download"/>
</body>

</html>