<% include partials/header.ejs %>
    <script src="/js/login.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/hexerve-logo.png" alt="logo">
                </a>
                <a class="nav-link" href="#">
                    <b>Screenshot Taker</b>
                </a>

            </div>
        </nav>
        <div class="spacer"></div>
        <div id="loader" class="container row">
            <img class="hexerve" src="/hexerve.png" />
        </div>

        <div class="fixed-top container">
            <div class="row login-row">
                <!--Description-->
                <div class="col-md-6">

                </div>

                <!--Login-->
                <div class="col-md-6 login">
                    <div id="login-msg"></div>
                    <form>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="text" class="form-control" name="email" id="email" placeholder="example@gmail.com">
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" class="form-control" name="pass" id="pass" placeholder="password">
                        </div>
                        <div class="wrapper text-center">
                            <div class="btn-group btn-group-lg">
                                <button type="button" id="login-btn" class="btn wobble-vertical">Submit</button>
                                <button type="button" id="register" class="btn wobble-vertical">Register</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Register -->
                <div class="col-md-6 register" style="display: none;">
                    <div id="register-msg"></div>
                    <form>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input type="text" class="form-control" name="name" id="name" placeholder="example">
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="text" class="form-control" name="email" id="email1" placeholder="example@gmail.com">
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" class="form-control" name="pass" id="pass1" placeholder="password">
                        </div>
                        <div class="wrapper text-center">
                            <div class="btn-group btn-group-lg">
                                <button type="button" id="register-btn" class="btn wobble-vertical">Submit</button>
                                <button type="button" id="login" class="btn wobble-vertical">Login</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </body>

    </html>