<% include partials/header.ejs %>
<script id="bolt" src="https://sboxcheckout-static.citruspay.com/bolt/run/bolt.min.js" bolt- color="<color-code>"
 bolt-logo="<image path>"></script>

<script src="https://checkout.stripe.com/checkout.js"></script>
</head>

<body>
	<%- include('partials/navbar', {
			home: true,
			login: false,
			plan: false,
			account: true
		}); %>

	<div id="loader" class="container row">
		<img class="hexerve" src="/hexerve.png" />
	</div>

	<div class="body-container" style="display:none">
		<div class="pricingdiv">

			<ul class="theplan">
				<li class="title"><span class="icon-trophy" style="color:yellow"></span> Lite ( $4.99 )
					<br />
					<small><i>per month</i></small>
				</li>
				<li><b>Unlimited Screenshots</b></li>
				<li><b>Unlimited Devices</b></li>
				<li><b>5 Links</b></li>
				<li><b>5 Viewports</b></li>
				<li><b>5 Folder</b></li>
				<li><b>Single Device login</b></li>
				<li><b>15 Days Free Support</b></li>
				<li>
					<div class="btn-group payment-group">
						<button type="button" class="btn stripeBtn payment" planId="1">Pay Now</button>
					</div>
				</li>
			</ul>
			<ul class="theplan">
				<li class="title"><span class="icon-trophy" style="color:yellow"></span> Professional ( $9.99 )
					<br />
					<small><i>per month</i></small>
				</li>
				<li><b>Unlimited Screenshots</b></li>
				<li><b>Unlimited Devices</b></li>
				<li><b>15 Viewports</b></li>
				<li><b>15 Links</b></li>
				<li><b>15 Folders</b></li>
				<li><b>5 preset Setting</b></li>
				<li><b>2 Device login</b></li>
				<li><b>Free Support</b></li>
				<li><b>30 Days Money Back</b></li>
				<li>
					<div class="btn-group payment-group">
						<button type="button" class="btn stripeBtn payment" planId="2">Pay Now</button>
					</div>
				</li>
			</ul>
			<ul class="theplan">
				<li class="title"><span class="icon-trophy" style="color:yellow"></span> Enterprise ( $19.99 )
					<br />
					<small><i>per month</i></small>
				</li>
				<li><b>CSV Upload</b></li>
				<li><b>Cloud Backup</b></li>
				<li><b>Unlimited Screenshots</b></li>
				<li><b>Unlimited Devices</b></li>
				<li><b>Unlimited Viewports</b></li>
				<li><b>Unlimited Links</b></li>
				<li><b>Unlimited Folders</b></li>
				<li><b>Unlimited preset Setting</b></li>
				<li><b>Free Support</b></li>
				<li><b>30 Days Money Back</b></li>
				<li>
					<div class="btn-group payment-group">
						<button type="button" class="btn stripeBtn payment" planId="3">Pay Now</button>
					</div>
				</li>
			</ul>

		</div>


	</div>

	<!-- The Modal -->
	<div class="modal fade" id="myModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title" id="message-heading">
						Terms and Conditions
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body" id="message-body">
					For making payments you need to agree with our <a target="_blank" href="https://www.hexerve.com/terms-and-conditions">Terms and
						Conditions</a>.
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal" id="payContinue">Accept and Continue</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>

	<footer class="footer fixed-bottom  text-light">
		<% include partials/footer.ejs %>

		<script src="/js/payment.js"></script>
</body>

</html>