<% include partials/header.ejs %>
<script src="/js/resetPass.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" id="mainNav">
        <div class="container">

            <!-- Brand/logo -->
            <a class="navbar-brand" href="https://www.hexerve.com" target="_blank">
                <figure class="figure">
                    <img src="/hexerve-logo.png" alt="Hexerve">
                    <figcaption class="figure-caption">Screenshot Taker</figcaption>
                </figure>
            </a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target=".collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link white" href="./dashboard"><b>Home</b></a>
                    </li>
                    <li class="nav-item white">
                        <a class="nav-link white" href="https://www.hexerve.com/contact" target="_blank"><b>Contact</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link highlight-nav" id="pro" href="./payment"><b>Pro</b></a>
                    </li>
                    <li class="nav-item white logged">
                        <a class="nav-link white" onclick="logout()" href="./login?action=logout"><b>Log out</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="loader" class="container row">
        <img class="hexerve" src="/hexerve.png" />
    </div>

    <div class="fixed-top body-container body-top-container container">
        <div class="row login-row">
            <div class="col-md-2 login">

            </div>
            <div class="col-md-8 login">
                <div class="container">
                    <div id="pass-msg"></div>
                    <form>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" class="form-control" id="curr_pass" placeholder="password">
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">New Password</span>
                            </div>
                            <input type="password" class="form-control" id="pass" placeholder="password">
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Confirm Password</span>
                            </div>
                            <input type="password" class="form-control" id="conf_pass" placeholder="password">
                        </div>
                        <div class="wrapper text-center">
                            <div class="btn-group btn-group-lg">
                                <button type="button" id="reset_btn" class="btn wobble-vertical">Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2 login">

            </div>
        </div>
    </div>

    <footer class="footer fixed-bottom fill-content bg-dark text-light">
        <div class="container">
            <div>
                <ul class="list-inline text-center font-weight-bold font-italic">
                    <li class="list-inline-item">About</li>
                    <li class="list-inline-item">Packages</li>
                    <li class="list-inline-item">Support</li>
                    <li class="list-inline-item">Terms &amp; Conditions</li>
                    <li class="list-inline-item">Privacy Policy</li>
                    <li class="list-inline-item">Contact Us</li>
                </ul>
            </div>
            <hr class="bg-secondary" />
            <div class="text-center">
                <span>Copyright &copy; 2018 Hexerve.</span>
            </div>

        </div>
    </footer>

</body>

</html>