<% include partials/header.ejs %>

<% if(message) { %>
    <script>
        var message = JSON.parse(("<%= message %>").split("&#34;").join("\""));
        if(!message.token || message.token !== "" ){
            window.location.href = "/";
        }
        setCookie("pass_token", message.token, 1);
    </script>   
<% } %>

<script src="/js/setPass.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">

            <!-- Brand/logo -->
            <a class="navbar-brand" href="#">
                <figure class="figure">
                    <img src="/hexerve-logo.png" alt="Hexerve">
                    <figcaption class="figure-caption">Screenshot Taker</figcaption>
                </figure>
            </a>
        </div>
    </nav>

    <div class="spacer"></div>
    <div id="loader" class="container row">
        <img class="hexerve" src="/hexerve.png" />
    </div>

    <div class="fixed-top body-top-container container">
        <div class="row login-row">
            <div class="col-md-2 login">

            </div>
            <div class="col-md-8 login">
                <div class="container">
                    <div id="pass-msg"></div>
                    <form>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">New Password</span>
                            </div>
                            <input type="password" class="form-control" id="pass" placeholder="password">
                        </div>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Confirm New Password</span>
                            </div>
                            <input type="password" class="form-control" id="conf_pass" placeholder="password">
                        </div>
                        <div class="wrapper text-center">
                            <div class="btn-group btn-group-lg">
                                <button type="button" id="reset_btn" class="btn wobble-vertical">Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2 login">

            </div>

        </div>

    </div>
</body>

</html>