body {
    background: url('./header.jpg') no-repeat center center fixed;
}

.nav-link {
    color: #C8C3C3 !important;
    font-size: 20px;
    padding-bottom: 0px;
    padding-top: 16px;
}

.body-container {
    top: 40%;
}

.spacing {
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 5%;
}

.row {
    color: #fff !important;
    margin-top: 1%;
    margin-left: 8%;
}

.btn-group {
    margin: auto;
    margin-top: 2%;
    margin-left: -5%;
}

.col-xs4 {
    width: 33%;
}

#submit {
    margin-right: 5%;
}

.timestamps {
    width: 100% !important;
    margin-top: 5% !important;
    margin-left: 2% !important;
}

.width_60 {
    width: 98% !important;
}

.width_60 td {
    text-align: right
}

.urls_timestamp {
    margin-left: 0 !important;
    table-layout: fixed
}

.url_td {
    width: 50%;
    word-wrap: break-word;
}

td.visit_time_td {
    background-color: #E8801C;
    color: #ffffff;
    padding: 0 4px;
}

.visit_time_td,
.ss_time_td {
    text-align: center;
}

.ss_time_td {
    padding: 0 4px;
}

.custom-file {
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.right_5 {
    right: 5px;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.checkbox-tooltip,
.checkbox-tooltip:hover {
    color: #fff;
    text-decoration: none;
}

#loader {
    display: none;
}

.hexerve {
    width: 60px;
    position: fixed;
    top: 25%;
    margin-left: 36%;
    -webkit-animation: spin1 2s infinite linear;
    -moz-animation: spin1 2s infinite linear;
    -o-animation: spin1 2s infinite linear;
    -ms-animation: spin1 2s infinite linear;
    animation: spin1 2s infinite linear;
    display: block;
}

#full_width_model {
    max-width: 85% !important
}

#list {
    padding: 0 2% 0 2%;
    margin-top: -2%;
}

.name {
    width: 30%;
}

.url {
    width: 70%;
}

.inline_form {
    margin: 0%;
}

.half-width {
    width: 55% !important;
}

.remove {
    width: 10%;
}

.form-inline {
    margin-left: 1%;
    margin-bottom: 16px;
}

.addWidth {
    width: 38% !important;
}

.beta {
    color: #35A6F0;
}

#remove_button {
    color: red;
    margin-right: 35%;
}

#url_add_err {
    width: 95%;
    margin-left: 2.5%;
}

.timer {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 800;
    margin-bottom: 0px;
}

.spacer_sm_1 {
    padding-right: 5%;
}

::placeholder {
    /* WebKit, Blink, Edge */
    opacity: 0.4 !important;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    opacity: 0.4 !important;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    opacity: 0.4 !important;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    opacity: 0.4 !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    opacity: 0.4 !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    opacity: 0.4 !important;
}

#success_audio {
    display: none;
}

#full_width_model .modal-content .modal-header {
    border: none !important;
}

@-webkit-keyframes spin1 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin1 {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spin1 {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes spin1 {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

@keyframes spin1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .body-container {
        top: 40%;
    }
    .row {
        margin-left: 4%;
    }
    .hexerve {
        margin-left: 38%;
    }
    .btn-group {
        margin-left: -2%;
    }
}

@media screen and (max-width: 480px) {
    .half-width,
    .addWidth {
        width: 100% !important;
    }
    .body-container {
        position: relative;
        overflow: scroll;
        height: 70vh;
    }
    .hidden {
        display: none;
    }
    .col-xs4 {
        width: 100%;
    }
    .hexerve {
        margin-left: 33%;
        top: 50%;
    }
    .btn-group {
        margin-top: 4%;
    }
    .spacer {
        display: block;
        box-sizing: content-box;
        height: 18vh;
    }
    #full_width_model {
        max-width: 98% !important
    }
    .navbar-brand {
        margin-left: 25%;
    }
    .nav-link {
        margin-left: 12%;
        padding-top: 0;
    }
    .timer {
        display: none;
    }
    .zopim {
        left: 90%;
        bottom: 14% !important;
        border-radius: 4px;
    }
}