body {
    background: url('./header.jpg') no-repeat center center fixed;
}

.nav-link {
    color: #C8C3C3 !important;
}

.body-container {
    top: 40%;
}

.spacing {
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 5%;
}

.row {
    color: #fff !important;
    margin-top: 1%;
    margin-left: 8%;
}

.btn-group {
    margin: auto;
    margin-top: 2%;
    margin-left: -5%;
}

.col-xs4 {
    width: 33%;
}

#submit {
    margin-right: 5%;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.checkbox-tooltip, .checkbox-tooltip:hover {
    color: #fff;
    text-decoration: none;
}

#loader {
    display: none;
}

.hexerve {
    width: 60px;
    position: fixed;
    top: 24%;
    margin-left: 36%;
    -webkit-animation: spin1 2s infinite linear;
    -moz-animation: spin1 2s infinite linear;
    -o-animation: spin1 2s infinite linear;
    -ms-animation: spin1 2s infinite linear;
    animation: spin1 2s infinite linear;
    display: block;
}

@-webkit-keyframes spin1 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin1 {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spin1 {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes spin1 {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

@keyframes spin1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px){
    .body-container {
        top: 40%;
    }

    .row {
        margin-left: 4%;
    }
    
    .hexerve {
        top: 22%;
        margin-left: 38%;
    }

    .btn-group {
        margin-left: -2%;
    }
}

@media screen and (max-width: 360px){
    .body-container {
        top: 28%;
    }
    
    .col-xs4 {
        width: 100%;
    }
  
    .hexerve {
        top: 14%;
        margin-left: 33%;
    }
    
    .btn-group {
        margin-top: 1%;
    }
}